{% extends "base.html" %}
{% block title %}Generate Kolam{% endblock %}
{% block content %}
<div class="card p-4">
  <h3>Kolam Generator</h3>
  <form method="post">
    <label class="form-label">Grid Size</label>
    <input type="number" name="grid_size" value="5" min="3" max="12" class="form-control mb-3">
    <label class="form-label">Symmetry</label>
    <select name="symmetry" class="form-control mb-3">
      <option value="vertical">Vertical</option>
      <option value="horizontal">Horizontal</option>
      <option value="none">None</option>
    </select>
    <button class="btn btn-success">Generate</button>
  </form>

  {% if generated_svg %}
  <hr>
  <h4>Generated Pattern</h4>
  <img src="{{ generated_svg }}" class="img-fluid border mt-2">
  {% endif %}
</div>
{% endblock %}
